
body{
  box-sizing: border-box;
 max-height: 100%;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;

  position: sticky;
  overflow-x:hidden ;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/eacc-16da4.appspot.com/o/bgimg.png?alt=media&token=cf8a2eb8-15a6-4c35-bd73-688055884d59);
     
    
    background-repeat: no-repeat;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
